<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<h2>Detail uzivatele</h2>
<div th:replace="fragments/navigation::navbar"></div>
<section>
    <label type="text">jmeno</label>
    <h3 th:text ="${uzivatel.jmeno}"></h3>
    <label type="text">prijmeni</label>
    <h3 th:text ="${uzivatel.prijmeni}"></h3>
    <label type="text">heslo</label>
    <h3 th:text ="${uzivatel.heslo}"></h3>
    <label type="text">email</label>
    <h3 th:text ="${uzivatel.email}"></h3>
    <label type="text">adresa</label>
    <h3 th:text ="${uzivatel.adresa}"></h3>
    <label type="text">admin</label>
    <h3 th:text ="${uzivatel.admin}"></h3>
</section>
<section>
    <a th:href="@{'/uzivatel-reg-form/' + ${uzivatel.id}}">Uprav uzivatele</a>
</section>
</body>
</html>